 body {
   font-family: 'Kanit', sans-serif;
   padding: 20px;
 }

 table {
   border-collapse: collapse;
   width: 100%;
 }

 th,
 td {
   border: 1px solid #999;
   padding: 8px;
   text-align: center;
 }

 h3 {
   color: #a31e25;
   border-bottom: 2px solid #a31e25;
 }

 .logo {
   width: 45px;
   height: 45px;
   margin-right: 10px;
 }